.galeria {
    text-align: center;
    color: #625548;
    margin-top: 20px;
}

.fotos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 15px;
    padding: 20px;

    .fotos-items {
        position: relative;
        overflow: hidden;
        @extend %box-shadow;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;

            &:hover {
                transform: scale(1.1);
            }
        }

        a {
            p {
                color: $marron-claro;
                font-size: 20px;
                text-align: center;
                position: absolute;
                bottom: 0px;
                background-color: #54037c73;
                width: 100%;
                padding: 5px;
            }
        }
    }
}

.img-1,
.img-5 {
    grid-row: span 2;
}

.img-3,
.img-4,
.img-6 {
    grid-column: span 2;
}