/*? INDEX */
/*^ HERO */
.hero {
    background-image: url(../img/background-lover.jpg);
    @extend %bg-properties;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;

    h1 {
        margin-bottom: 25px;
        padding: 50px 40px 0 40px;
        text-align: center;
    }

    img {
        width: 80%;
    }
}

/*^ INTRO */
.intro {
    background-image: url(../img/background-1989-01.jpg);
    @extend %bg-properties;
    color: $marron-claro;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    align-items: center;
    margin: 0;
    padding: 40px;

    img {
        width: 100%;
        height: 350px;
        border-radius: 10px;
        grid-column: span 2;
        object-fit: cover;
        @extend %box-shadow;
    }

    .intro-texto {
        width: 100%;
        grid-column: span 3;
        background-color: #54037c93;
        border-radius: 10px;
        padding: 40px;
        @extend %box-shadow;

        h2 {
            color: $blanco;
        }

        p {
            font-size: 20px;
            color: $blanco;
        }
    }
}

/*^ INDEX SECCIONES */
.secciones {
    h2 {
        color: $marron-claro;
        background-color: #54037c93;
        border-radius: 10px;
        padding: 20px;
        margin: 40px 60px 40px 60px;
        padding: 20px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        @extend %box-shadow;
    }

    .slide {
        @extend %box-shadow;

        .carousel-control-prev {
            .carousel-control-prev-icon {
                background: none;
                background-image: url(../img/arrow-000000.png) !important;
                background-size: 100% 100%;
                width: 50px;
                height: 50px;
                transform: rotate(-90deg);
                background-color: #ebe5dbd0;
                border-radius: 100%;
            }
        }

        .carousel-control-next {
            .carousel-control-next-icon {
                background-image: url(../img/arrow-000000.png) !important;
                background-size: 100% 100%;
                width: 50px;
                height: 50px;
                transform: rotate(90deg);
                background-color: #ebe5dbd0;
                border-radius: 100%;
            }
        }

        .secciones-individuales {
            border-radius: 10px;

            .secciones-tarjeta {
                background-color: nth($color-violeta, 3);

                .secciones-img {
                    padding: 20px 20px 20px 20px;
                    border-radius: 30px;
                }

                .carousel-caption {
                    position: static !important;
                    background-color: nth($color-violeta, 3);
                    padding-bottom: 3rem;
                    padding-top: 0;

                    p {
                        background-color:#54037c9d;
                        padding: 30px 70px 30px 70px;
                        margin: 0 100px 20px 100px;
                        color: $blanco;
                        font-size: 25px;
                        font-weight: bold;
                        border-radius: 10px;
                    }

                    .boton-index {
                        color: $blanco;
                        font-size: 20px;
                        text-transform: uppercase;
                        transition: 0.2s ease-in;

                        &:hover {
                            transform: scale(1.15);
                            background-color: nth($color-violeta, 1);
                        }
                    }
                }
            }
        }

        .carousel-indicators {
            bottom: -10px;
        }
    }
}

/*^ INDEX QUOTE */
.card {
    margin: 40px 60px 40px 60px;
    padding: 10px;
    background-color: #54037c93;
    ;

    .card-header {
        background-color: nth($color-violeta, 3);
        color: nth($color-violeta, 1);
        font-weight: bold;
    }

    .card-body {
        .blockquote {
            color: $blanco;

            .blockquote-footer {
                margin: 0;
                color: $blanco;
            }
        }
    }
}