/*? QUIZZ */
.main-quizz {
    background-image: url(../img/background-quizz.jpg);
    @extend %bg-properties;
    padding: 50px;

    .quizz-intro {
        .intro-form {
            text-align: center;
            color: nth($color-violeta, 1);
            padding: 0 50px 0 50px;
            background-color: #8e5ba044;
            @extend %box-shadow;
            padding: 30px;
            border-radius: 10px;
            margin: 0 30px 20px 30px;

            h1 {
                margin-bottom: 20px;
            }

            p {
                margin: 0 30px 10px 30px;
            }
        }
    }
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;

    .form-items {
        background-color: nth($color-violeta, 1);
        color: $marron-claro;
        border-radius: 10px;
        padding: 30px 50px 30px 50px;
        margin: 10px 50px 50px 50px;
        @extend %box-shadow;

        div {
            padding: 15px 0 0 0;

            div {
                .form-text {
                    width: 100%;
                    height: 150px;
                }
            }
        }

        .form-botones {
            .form-boton {
                background-color: $blanco;
                color: nth($color-violeta, 1);
                margin-right: 30px;
                margin-bottom: 10px;
                padding: 5px 15px 5px 15px;
                font-size: 15px;
                text-transform: uppercase;
                transition: 0.2s ease-in;
                font-weight: bold;
                transition: 0.2s ease-in;

                &:hover {
                    transform: scale(1.15);
                }
            }
        }
    }
}